.bg-cover {
    background-size: cover !important;
}

.carousel-item img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
#myCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}